htdocs/app.yaml
*.ini
htdocs/test/*
htdocs/test.php
htdocs/phpdocs
htdocs/books

config/config.ini
config/shared.ini
config/multi/*
logs/*.log*
sqlite/*
nbproject/*
profiles/*
modules/*
htdocs/templates/*
htdocs/files/*
modules/*
vendor/
composer-master.lock
htdocs/books/*
private/*
/tmp
